* {
    font-family: 'Mynerve', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    background-color: lightblue;
    overflow: hidden;
}

.gameSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bombCounter {
    display: flex;
    flex-direction: row;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    padding: 2vmin;
    border: 1px solid black;
    background-color: grey;
}

.beginner {
    grid-template-columns: repeat(9, 3.5vmin);
    grid-template-rows: repeat(9, 3.5vmin);
}

.intermediate {
    grid-template-columns: repeat(16, 3.5vmin);
    grid-template-rows: repeat(16, 3.5vmin);
}

.expert {
    grid-template-columns: repeat(30, 3.5vmin);
    grid-template-rows: repeat(16, 3.5vmin);
}

.gameTile {
    width: 3.5vmin;
    height: 3.5vmin;
    background-color: rgb(179, 178, 178);
    color: black;
    border: 0.1vmin solid black;
    border-radius: 0.4vmin;
    font-size: 3vmin;
    outline: none;
    font-weight: bold;
}

#reset {
    margin-top: 5vmin;
}

.rightclicked {
    background-color: yellow;
}

.clicked {
    background-color: white;
}

.bomb {
    background-color: red;
}

.flag {
   /* background-color: yellow; */
   background-image: url(./resources/flag.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size:contain;
}

.win {
    background-color: green;
}

.flex-ctr {
    display: flex;
    align-items: center;
}

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: purple;
}

.num5 {
    color: maroon;
}

.num6 {
    color: turquoise;
}

.num8 {
    color: grey;
}

