@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    font-family: 'Share Tech Mono', monospace;
    box-sizing: border-box;
    font-size: calc(10px + 1.5vmin);
}

#gameName {
    font-family: 'Black Ops One', cursive;
    text-transform: capitalize;
    letter-spacing: 0.2vmin;
    font-weight: 400;
    text-shadow:
        -1px 0px 0px black,
        1px 0px 0px black,
        0px -1px 0px black,
        0px 1px 0px black;
    outline: 0.1vmin solid black;
    color: teal;
    padding: 0 1.5vmin 0 1.5vmin;
    margin: 1vmin 0 0 0;
    background-color: lightblue;
    border: 1vmin solid teal;
    font-size: calc(15px + 5vmin);
    border-radius: 0.5vmin;
}

.gameSelector {
    height: calc(65px + 5vmin);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.gameSelector>h3{
    margin-bottom: 1vmin;
}

.gameSelector>div {
    width: 55vmin;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.levelBtn,
#reset {
    background-color: lightblue;
    border: 0.5vmin solid teal;
    border-radius: 0.5vmin;
    outline: 0.1vmin solid black;
    height: fit-content;
}

.levelBtn:hover,
#reset:hover {
    background-color: rgb(114, 186, 196);
}

body {
    height: 100vh;
    flex-direction: column;
    background-color: whitesmoke;
    overflow: hidden;
}

.bombCounter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: calc(20px + 4vmin);
    gap: 10vmin;
}

.bombCounter * {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 0.5vmin;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    padding: 2vmin;
    background-color: teal;
    border-radius: 0.5vmin;
    border: 0.1vmin solid black;
}

.beginner {
    grid-template-columns: repeat(9, minmax(22px, 3.5vmin));
    grid-template-rows: repeat(9, minmax(22px, 3.5vmin));
}

.intermediate {
    grid-template-columns: repeat(16, minmax(22px, 3.5vmin));
    grid-template-rows: repeat(16, minmax(22px, 3.5vmin));
}

.expert {
    grid-template-columns: repeat(30, minmax(22px, 3.5vmin));
    grid-template-rows: repeat(16, minmax(22px, 3.5vmin));
}

.gameTile {
    width: minmax(22px, 3.5vmin);
    height: minmax(22px, 3.5vmin);
    background-color: lightblue;
    color: black;
    border: 0.1vmin solid black;
    border-radius: 0.4vmin;
    font-size: calc(12px + 1.5vmin);
    font-weight: bold;
    font-family: 'Mynerve', Arial, Helvetica, sans-serif;
}

#reset {
    margin-top: 2vmin;
}

.over,
.rightclicked {
    background-color: rgb(114, 186, 196);
}

.clicked {
    background-color: white;
}

.bomb {
    background-color: red;
    transition: all 0.1s linear;
}

.flag {
    background-image: url(./resources/flag.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.win {
    background-color: green;
    transition: all 1s linear;
}

.flex-ctr {
    display: flex;
    align-items: center;
}

.num1 {
    color: blue;
}

.num2 {
    color: green;
}

.num3 {
    color: red;
}

.num4 {
    color: purple;
}

.num5 {
    color: maroon;
}

.num6 {
    color: turquoise;
}

.num8 {
    color: grey;
}