* {
    font-family: 'Mynerve', Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    height: 100vh;
    flex-direction: column;
    background-color: lightblue;
    overflow: hidden;
}

.gameSelector {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bombCounter {
    display: flex;
    flex-direction: row;
}

main * {
    display: flex;
    justify-content: center;
    align-items: center;
}

.board {
    display: grid;
    padding: 2vmin;
    border: 1px solid black;
    background-color: grey;
}

.beginner {
    grid-template-columns: repeat(9, 3.5vmin);
    grid-template-rows: repeat(9, 3.5vmin);
}

.intermediate {
    grid-template-columns: repeat(16, 3.5vmin);
    grid-template-rows: repeat(16, 3.5vmin);
}

.expert {
    grid-template-columns: repeat(30, 3.5vmin);
    grid-template-rows: repeat(16, 3.5vmin);
}

.gameTile {
    width: 3.5vmin;
    height: 3.5vmin;
    background-color: lightgrey;
    color: black;
    border: 0.1vmin solid black;
    border-radius: 0.5vmin;
    font-size: 3vmin;
    outline: none;
}

#reset {
    margin-top: 5vmin;
}

.clicked {
    background-color: red;
}

.flex-ctr {
    display: flex;
    align-items: center;
}